/*Nav*/
nav a {
    text-decoration: none;
    color: black;
}
nav {
    padding: 1rem 2%;
    background: white;
    justify-content: space-between;
    display: flex;
    height: 50px;
}
header {
    position: sticky;
    top: 0;
}

.logo {
    Max-width: 4%;
    height:auto;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-family: var(--font-family-alt);
    font-weight: 400;
    align-items: center;
}
/* a{
    position:absolute
}*/
.nav_links a::after {
    content: "";
}
.nav_links li {
    margin-top: 5%;
}
.nav_links li a:hover{
    color:var(--color-lgt-grn);
    transition: all 0.4s ease-in-out;
}

.cta {
    padding: 2px 4px;
    background-color: var(--color-drk-grn);
    font-family: var(--font-family-alt);
    border-radius: 50px;
    cursor: pointer;
    padding-top: 17px;
    color: var(--color-off-wht);
}
.cta:hover{
    background-color: var(--color-lgt-grn);
    transition: all 0.4s ease 0s;
}
.cta:hover{
    color:black;
    transition: all 0.4s ease-in-out;
}

/*Body*/
#home, #hero, #about, #projects, #footer {
    background: whitesmoke;
    height: 100vh;
    scroll-margin-top: 60px;
}